<div class="gem-medium">
    <div class="media">
        <img class="image" ng-src="{{card.main_picture.image}}" alt="{{card.media.image.alt}}" ng-show="card.main_picture.image">
    </div>

    <div class="content pv-16 ph-16">
        <a ui-sref="app.bazaar-detail({gemId: card.id})"> <div class="title h1">
            {{card.title}}
        </div>
      </a>

        <div class="subtitle secondary-text" ng-if="card.categories">
            <category-label categories='card.categories'></category-label>
        </div>


        <div class="text pt-16" ng-if="card.description">
            {{card.description}}
        </div>
    </div>
</div>
