<div class="gem-medium">
    <div class="media">
        <img class="image" ng-src="{{card.main_picture.image}}" alt="{{card.media.image.alt}}" ng-show="card.main_picture.image">
    </div>

    <div class="content pv-16 ph-16">
        <div class="title h1" ng-if="card.title">
            {{card.title}}
        </div>

        <div class="subtitle secondary-text" ng-if="card.subtitle">
            {{card.subtitle}}
        </div>
        <div class="buttons pt-8">
            <md-button class="m-0 md-accent" ui-sref="app.bazaar-detail({gemId: card.id})">DETAILS</md-button>
        </div>

        <div class="text pt-16" ng-if="card.description">
            {{card.description}}
        </div>
    </div>
</div>
