<div>
	<div class="row">	
		<div class="col-md-8">
			<section class="slider">
				<div id="slider" class="flexslider">
					<ul class="slides">
						<li ng-repeat="picture in summary.pictures">
							<img ng-src="{{picture.image}}"/>
						</li>
					</ul>
				</div>
				<div id="carousel" class="flexslider">
					<ul class="slides">
						<li ng-repeat="picture in summary.pictures">
							<img ng-src="{{picture.image}}"/>
						</li>
					</ul>
				</div>
			</section>
		</div>
		<div class="col-md-4">
			Title: {{ summary.gem.title }}
			<hr>
			Description: {{ summary.gem.description }}
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<reviews-viewer gem="summary.gem.id"></reviews-viewer>
			
		</div>
		<div class="col-md-4">
			<p> Detailed information -- file structure</p>
		</div>
	</div>
	<div class="row">
		<review-writer user="{{user}}" gem="summary.gem.id"></review-writer>
	</div>
</div>
