[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./config/*,
       ./manage.py,
       *__init__*,
        *fabfile*,
        *users/views.py
        *management/*
