<modal title="Login form" visible="showLoginModal">
  <form role="form" ng-submit="vm.login(loginForm)" name="loginForm" novalidate>
    <div class="form-group">
       <label for="id_email">Email</label>
      <input name="email" id="id_email" type="text" ng-model="vm.model.email" placeholder="email" class="form-control" required />
    </div>
    <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
    <div class="form-group">
      <label for="id_password">Password</label>
      <input name="password" id="id_password" type="password" ng-model="vm.model.password" placeholder="Password" class="form-control" required />
    </div>
    <div class="alert alert-danger" ng-repeat="error in vm.errors.password">{{error}}</div>
    <div class="alert alert-danger" ng-repeat="error in vm.errors.non_field_errors">{{error}}</div>
    <div class="alert alert-danger" ng-if="error">{{error}}</div>
    <div class="alert alert-success" ng-if="vm.success">{{vm.success}}</div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</modal>