
<ul class="dropdown-menu dropdown-user">
        <li ng-show="vm.user.is_vendor">            
            <a href="/vendor/" id="menu-vendor-link"><i class="fa fa-tree"></i> My Lumberyard</a>
        </li>
        <li ng-show="vm.user.username">
            <a ng-click='vm.profile()'><i class="fa fa-user fa-fw"></i> My Profile</a>
        </li>
        <li ng-show="vm.user.username">
            <a ng-click='vm.settings()'><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li ng-show="vm.user.username" class="divider"></li>
        <li ng-show="vm.user.username" >
            <a ng-click='vm.logout()' id="logout-menu"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
        <li ng-show="vm.message" >
            <a id="menu-user-message"><i class="fa fa-bell-o fa-fw"></i>{{vm.message}}</a>
        </li>
        <li ng-hide="vm.user.username">
            <a ng-click='vm.login()'><i class="fa fa-sign-in fa-fw"></i>Login</a>
        </li>
</ul>


