option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "woodshopio/config/wsgi.py"

packages:
  yum:
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []
    libtiff-devel: [] 
    libjpeg-devel: []
    libzip-devel: [] 
    freetype-devel: []
    lcms2-devel: []
    libwebp-devel: [] 
    tcl-devel: []
    tk-devel: []