<div id="detail-editor" class="loading container-fluid">
	<div class="row">
		<h2>
			<span editable-text="vm.gem.title" 
				e-form="titleIcon"
				onbeforesave="vm.update($data, 'title')">{{vm.gem.title}}</span>
			<a ng-click="titleIcon.$show()" ng-hide="titleIcon.$visible"><i class="fa fa-pencil"></i></a>
		</h2>
		<div id="gem-text" class="col-md-8">
			<hr>
				<h4>Description:</h4>
				<span editable-textarea="vm.gem.description" e-rows="20" e-cols="40" 
				e-form="descIcon" onbeforesave="vm.update($data, 'description')">
				{{ vm.gem.description }}
				</span>
				<a ng-click="descIcon.$show()" ng-hide="descIcon.$visible"><i class="fa fa-pencil"></i></a>
			<hr>
		</div>
		<div id="gem-analytics" class="col-md-4">
			<ul><li>whitespace</li><li>lorem ipsum space</li></ul>
		</div>
	</div>
	<div class="row">
		<h3>Images</h3>
		<a ng-click="vm.openImageUploadModal()">Add images</a>
		<a ng-click="vm.openImageDeleteModal()">Delete this image</a>
	</div>	
		<div id="picture-slider" class="col-md-8">
			<section class="slider">
				<div id="slider" class="flexslider">
					<ul class="slides">
						<li ng-repeat="picture in vm.pictures" data-thumb="{{picture.image}}" data-id="{{picture.id}}">
							<img ng-src="{{picture.image}}"/>
						</li>
					</ul>
				</div>
			</section>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-8">
			<reviews-viewer gem="vm.gem.id"></reviews-viewer>
			
		</div>
		<div class="col-md-4">
			<p> Detailed information -- file structure</p>
		</div>
	</div>
	
</div>