<div id="detail-editor" class="loading">
	<div class="row">
	</div>
	<div class="row">	
		<div id="picture-slider" class="col-md-8">
			<section class="slider">
				<div id="slider" class="flexslider">
					<ul class="slides">
						<li ng-repeat="picture in vm.pictures" data-thumb="{{picture.image}}">
							<img ng-src="{{picture.image}}"/>
						</li>
					</ul>
					
				</div>
			</section>
		</div>
		<div id="gem-summary-text" class="col-md-4">
			Title: {{ vm.gem.title }}
			<hr>
			Description: {{ vm.gem.description }}
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<reviews-viewer gem="vm.gem.id"></reviews-viewer>
			
		</div>
		<div class="col-md-4">
			<p> Detailed information -- file structure</p>
		</div>
	</div>
</div>