<div id="detail-editor" class="loading container-fluid">
	<div class="row">
		<h2>
			<span editable-text="vm.gem.title" 
				e-form="titleIcon"
				onbeforesave="vm.updateTitle($data)">{{vm.gem.title}}</span>
			<a ng-click="titleIcon.$show()" ng-hide="titleIcon.$visible"><i class="fa fa-pencil"></i></a>
		</h2>
		<div id="gem-text" class="col-md-8">
			<hr>
			Description: {{ vm.gem.description }}
			<hr>
		</div>
		<div id="gem-analytics" class="col-md-4">
			<ul><li>whitespace</li><li>lorem ipsum space</li></ul>
		</div>
	</div>
	<div class="row">
		<h3>Edit Images</h3>	
		<div id="picture-slider" class="col-md-8">
			<section class="slider">
				<div id="slider" class="flexslider">
					<ul class="slides">
						<li ng-repeat="picture in vm.pictures" data-thumb="{{picture.image}}">
							<img ng-src="{{picture.image}}"/>
						</li>
					</ul>
				</div>
			</section>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-8">
			<reviews-viewer gem="vm.gem.id"></reviews-viewer>
			
		</div>
		<div class="col-md-4">
			<p> Detailed information -- file structure</p>
		</div>
	</div>
</div>