{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static "metisMenu/dist/metisMenu.min.css" %}">
<!--<link rel="stylesheet" href="{% static "css/vendor/pikachoosebase.css" %}">
<link rel="stylesheet" href="{% static "css/vendor/pikachoosebottom.css" %}">-->
<link rel="stylesheet" href="{% static "css/vendor/pikachoosecss3.css" %}">
<link rel="stylesheet" href="{% static "css/bazaarBase.css"%}">
<link rel="stylesheet" href="{% static "css/bazaarAnimations.css" %}">
{% endblock %}

{% block ng_app %}bazaarApp{% endblock %}
{% block ng_controller %}bazaarController{% endblock %}

{% block nav_sidebar %}
<div class="navbar-befault sidebar" role="navigation" ng-controller="categories as cats">
	<div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
		<ul id="side-menu" class="nav in metismenu">
			<li class="sidebar-search">
				<div class="input-group custom-search-form">
					<input class="form-control" placeholder="Search..." type="text">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"> 
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</li>
			<li><a href="#/" ng-click='cats.setCategory()'>All</a></li>
			{% include 'cat_sidebar.html' %}
		</ul>
	</div>
</div>
{% endblock %}

{% block page_content %}
<div class="container-fluid">
	<div class="view-container">
		<div ng-view class="view-frame animated"></div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "metisMenu/dist/metisMenu.min.js" %}"></script>
<script src="{% static "js/bazaarBase.js"%}"></script>
<script src="{% static "angular-resource/angular-resource.js"%}"></script>
<script src="{% static "angular-route/angular-route.js" %}"></script>
<script src="{% static "angular-animate/angular-animate.js" %}"></script>
<script src="{% static "js/vendor/jquery.jcarousel.min.js" %}"></script>
<script src="{% static "js/vendor/jquery.pikachoose.js" %}"></script>
<script src="{% static "js/vendor/jquery.touchwipe.min.js" %}"></script>
<script src="{% static "js/bazaarApp.js"%}"></script>
<script src="{% static "js/bazaarControllers.js" %}"></script>
<script src="{% static "js/bazaarDirectives.js" %}"></script>
<script src="{% static "js/bazaarAnimations.js" %}"></script>
<script src="{% static "js/bazaarServices.js" %}"></script>

<script>
var app = angular.module('bazaarApp'); 
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs}}';
}]);
</script>
{% endblock %}