{% extends 'bazaar_base.html' %}
{% load staticfiles %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/bazaarAnimations.css" %}">
{% endblock %}

{% block page_content %}
<div class="container" ng-app="bazaarApp">
	<div class="view-container">
		<div ng-view class="view-frame animated"></div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src='{% static "angular/angular.js"%}'></script>
<script src='{% static "angular-resource/angular-resource.js"%}'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js'></script>
<script src='{% static "js/bazaar.js"%}'></script>
<script src='{% static "js/bazaarServices.js"%}'></script>
<script src='{% static "js/bazaarDirectives.js" %}'></script>
<script src='{% static "js/bazaarAnimations.js" %}'></script>
{% endblock %}