span + a {cursor: pointer;}

#image-upload-modal .modal-dialog {
	width: 80%;
}

#image-loading {
	position: fixed;
	z-index: 99;
	top: 50%;
	left: 47%;
	text-align: center;
}

#upload-cropper div.image-loading {
	opacity: .4;
}

#image-delete-modal .modal-dialog {
	width: 190px;
}