.flex-editor-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-editor-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: 'EDIT';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-editor-nav a.flex-next:before {
  content: 'hello';
}
.flex-editor-nav .flex-prev {
  left: -50px;
}
.flex-editor-nav .edit-icon {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-editor-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-editor-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-editor-nav .edit-icon {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-editor-nav .edit-icon:hover {
  opacity: 1;
}