#banner {
    overflow: hidden;
    max-height: 0px;
}

#banner.ng-hide-add, #banner.ng-hide-remove {
  transition: max-height 0.2s ease-in;
}
#banner.ng-hide {
	max-height: 0px;
}


@media(min-width: 768px) {
    #banner {
        max-height: 200px;
    }
    #banner .row {
        padding: 40px 0;
    }
}

.cat-text:hover {
    text-decoration: underline;
}
.gem-thumb {
    max-height: 90%;
    max-width: 90%;
    overflow: hidden;
}
.detail-container {
    padding-left: 0px;
}

.slider {
	min-height: 400px;
}
