#banner {
	overflow: hidden;
    padding: 40px 0;
    height: 150px;
}
#banner.ng-hide-add, #banner.ng-hide-remove {
  transition: height 0.5s ease, padding 0.5s ease;
}
#banner.ng-hide {
	height: 0px;
}
.cat-text:hover {
    text-decoration: underline;
}
.gem-thumb {
    max-height: 90%;
    max-width: 90%;
    overflow: hidden;
}
.detail-container {
    padding-left: 0px;
}

.slider {
	min-height: 400px;
}
