.cat-text:hover {
    text-decoration: underline;
}
.gem-thumb {
    max-height: 90%;
    max-width: 90%;
    overflow: hidden;
}
.detail-container {
    padding-left: 0px;
}

.slider {
	min-height: 400px;
}
