.flexslider {
  margin-bottom: 10px;
}
.flex-control-nav {
  position: relative;
  bottom: auto;
}
.custom-navigation {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.custom-navigation > * {
  display: table-cell;
}
.custom-navigation > a {
  width: 50px;
}
.custom-navigation .flex-next {
  text-align: right;
}
.slider { margin: 5px 0 10px!important;}
#slider {margin: 1px;}
#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}