{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/cubicle/cubicle_animations.css" %}">
<link rel="stylesheet" href="{% static "css/cubicle/flexslider_custom.css" %}">
{% endblock %}

{% block ng_app %}cubicleApp{% endblock %}

{% block nav_sidebar %}
<div class="navbar-befault sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
		<ul id="side-menu" class="nav in metismenu">
			<li>
				<a href="">My Lumberyard</a>
			</li>
			<li>
				<a href="">Edit assets<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
					<!-- I want to avoid server-side DB queries where possible 
						So, angular will XHR this stuff      -->
					<cubicle-sidebar-gem-list user="user"></cubicle-sidebar-gem-list>					
				</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block page_content %}
<div class="view-container">
	<div ng-view class="view-frame"></div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "js/cubicle/cubicleApp.js" %}"></script>
<script src="{% static "js/cubicle/cubicleAnimations.js" %}"></script>
<script src="{% static "js/cubicle/side_bar/sideBarDirectives.js" %}"></script>
<script src="{% static "js/cubicle/detail/detailCache.js" %}"></script>
<script src="{% static "js/cubicle/detail/detailEditor.js" %}"></script>

<script>
var app = angular.module('cubicleApp'); 
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs}}';
}]);
</script>
{% endblock %}