{% extends 'base.html' %}
{% load staticfiles %}

{% block page_content %}
<div class="container" ng-app="bazaarApp">
    <grab-bag></grab-bag>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src='{% static "angular/angular.js"%}'></script>
<script src='{% static "angular-resource/angular-resource.js"%}'></script>
<script src='{% static "js/bazaar.js"%}'></script>
<script src='{% static "js/services.js"%}'></script>
<script src='{% static "js/directives.js" %}'></script>
{% endblock %}